*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary:'Work Sans', sans-serif;
    --ff-secondary:'Fira Code', monospace;

    --fw-regular: 300;
    --fw-bold: 900;

    --clr-light: #eceff1;
    --clr-dark:#303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15)
}

@media (min-width: 800px) {
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

/* .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari *
    animation: spin 2s linear infinite;
  }
  
  /* Safari *
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */

img{
    display: block;
    max-width: 100%;
}

header,
section{
    padding: 5em 2em;
}

strong{
    font-weight: var(--fw-bold);
}

:focus{
    outline: none;
    outline-offset: none;
}

.btn{
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    text-decoration: none;
    color: var(--clr-dark);
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 3px;
    font-weight: var(--fw-bold);
    transition: transform 500ms ease-in-out;
}

.btn:hover{
    transform: scale(1.2);
}

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{
    font-size: var(--fs-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}

#home{
    min-height: 700px;
}

.content {
    width: 950px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
  }

  /* @media only screen and (max-width: 600px) {} */

  .typedtext {
    /* margin-top: 20%; */
    /* border-right: 2px solid black; */
    animation: blinkTextCursor 800ms steps(44) infinite normal;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 20px;
    color: #000;
    display: block;
  }
  
  @keyframes blinkTextCursor {
    from {
      border-right-color: black;
    }
    to {
      border-right-color: transparent;
    }
  }
  

.section__title{
    margin-bottom: .25em;
}

.section__title--intro{
    font-weight: var(--fw-regular);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin-left: 10;
    font-size: var(--fs-h3);
    
}

.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: .25em 1em;
    min-width: 600px;
}

nav{
    display: none;
}

.intro{
    position: relative;
    min-width: 300px;
}

.intro__img{
    box-shadow: var(--bs);
}


  .video_section {
    /* height: 800px;
    background-color: #37474f;
    display: flex; */

       /* The image used */
  background-image: url("./assets/mat-blck.jpg");

  /* Set a specific height */
  min-height: 1000px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  .video_section video {
    width: 800px;
    height: 550px;
    vertical-align: bottom;
    margin-left: -500px;
    margin-top: 50px;
    padding: 0px;
    z-index: 5;
    position: absolute;
  }
  
  @media screen and (max-width: 990px) {
    video {
      width: 500px;
    }
  }
  
  @media screen and (max-width: 660px) {
    video {
      width: 300px;
      vertical-align: bottom;
      margin-left: 0px;
      margin-top: 50px;
      padding: 0px;
      z-index: 5;
      position: absolute;
    }
  }
  
  @media screen and (max-width: 400px) {
    video {
      width: 20px;
      height: 90px;
      vertical-align: bottom;
      margin-left: 0px;
      margin-top: 50px;
      padding: 0px;
      z-index: 0;
      position: absolute;
    }
  }
  
  @media screen and (max-width: 100px) {
    .video_section video {
      width: 20px;
      height: 90px;
      vertical-align: bottom;
      margin-left: 0px;
      margin-top: 50px;
      padding: 0px;
      z-index: 0;
      position: absolute;
    }
  }
  
  .video_section .App-logo {
    height: 1000px;
    pointer-events: none;
    margin-left: -750px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    margin-right: 0px;
    margin-top: -117px;
    z-index: 1;
  }
  
  .video-logo {
    display: flex;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.video{
  
    /* The image used */
  background-image: url("./assets/mat-blck.jpg");

  /* Set a specific height */
  min-height: 1000px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.glowing{
      /* The image used */
  background-image: url("./assets/palms.jpg");

  /* Set a specific height */
  min-height: 900px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.glow {
    font-size: 40px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  @media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */
    .section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: .25em 1em;
    min-width: 100%;
}

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        text-align: left;
      }
  }

 
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  

@media (min-width: 600px){
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        
    }
    .content {
        /* width: 100%; */
        /* max-width: 400px; */
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        text-align: left;
      }
      .typedtext {
        /* margin-top: 20%; */
        /* border-right: 2px solid black; */
         /* max-width: 400px; */
        animation: blinkTextCursor 800ms steps(44) infinite normal;
        height: 40px;
        margin-bottom: 15px;
        color: #000;
        display: block;
      }
}

.my__services{
    background-color: var(--clr-dark);
    background-image: url(./assets/laptopoffice3.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
    color: var(--clr-light);
}

.section__title--services{
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after{
    content: '';
    display: block;
    width: 12em;
    height: 2px;
    margin: 0.5em auto 1em;
    background: currentColor;
}

.services{
    margin-bottom: 4em;
}

.service{
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px){
    .services{
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service{
        margin-left: 2em;
    }
}

.about-me{
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img{
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    
    .section__title--about{
        grid-area: title;
    }

    .section__subtitle--about{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img{
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

.my-work{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.section__subtitle--work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

header{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.logo{
    max-width: 450px;
}

button .nav-toggle{
    position: sticky;
    top: 0;
}

.nav{
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav--toggle{
    padding: .25em;
    background: transparent;
    border: 0;
}

.nav__list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover{
    color: var(--clr-accent);
}

.nav-toggle{
    padding: 5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav{
    transform: translateX(0);
}

.nav-open .nav--toggle{
    position: fixed;
}

.nav-open .hamburger{
    transform: rotate(.625turn);
}

.nav-open .hamburger::before{
    transform: rotate(90deg) translate(-6px);
}

.nav-open .hamburger::after{
    opacity: 0;
}



.hamburger{
    display: block;
    position: fixed;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before{
    top: 6px;
}

.hamburger::after{
    bottom: 6px;
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item{
    background-color: var(--clr-accent);
    overflow: hidden;
    max-block-size: 319px;
    min-block-size: 300px;
}

.portfolio__img{
    transition: 
        transform 1000ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
        
}

.portfolio__img:hover{
    transform: scale(1.2);
    opacity: .5;
}

.grid-container {
    width: 95%;
    max-width: 1160px;
    margin: auto;
}
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 50px;
}
.box {
    height: 250px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #4b00ff;
}
.row-outer {
    padding: 50px 0;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    border-radius: 20px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #009688;
    color: #f8bbd0;
    font-family: 'Diplomata SC', cursive;
    font-size: 30px;
    padding-top: 20%;
    border-radius: 5px;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #37474f;
    color: white;
    transform: rotateY(180deg);
    border-radius: 5px;
  }

.footer{
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a{
    color: inherit;
    text-decoration: none;
}

.footer__link{
    
    font-weight: var(--fw-bold);
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item{
    margin: 0 .5em;
}

.social-list__link{
    padding: .5em;
}

.footer__link:hover,
.social-list__link:hover{
    opacity: .5;
}

.footer__link:hover{
    text-decoration: underline;
}

.portfolio-item-individual{
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}